body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: white;
    color:#56693d;
    height:100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
    
}

.logo {
    width:200px;
    height: 32px;
    margin:25px;
}

.name-bar {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background: #506673;
    margin-top:100px;
    height:100px;
    top:1;
}

.category-name {
    font-size:50px;
    font-family: sans-serif;
    color:white;
}

.selections {
    display: flex;
    margin:10px;
    
}

.stats-container {
    width:50%;
}

.tables {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.table {
    border: 1px solid black;
    margin:10px;
    padding: 10px;
}

.table-header {
    font-size:14px;
}

.top-selections{
    width: 200px;
    margin:10px;
    align-self: flex-end;
}

.left-selection {
    flex-grow:1;
    max-width: 200px;

}

.right-selection {
    flex-grow:1;
    max-width: 200px;
}

.box-chart {
    margin:10px;
}
