body {
    background-color: #F5F5F5;
}

.selections {
    display: flex;
    justify-content: space-evenly;
    margin:10px;
    align-items: center;
    
}

.stats-container {
    width:50%;
}

.table-header {
    font-size:14px;
}

.top-selections{
    flex-grow:1;
}

.left-selection {
    flex-grow:1;
    max-width: 200px;

}

.right-selection {
    flex-grow:1;
    max-width: 200px;
}

.left-graph {
    width:45%;
    margin:5px;
}

.right-graph {
    width:45%;
    margin:5px;
}